<!DOCTYPE html>
<html ng-app="myApp">

<head>
   
   <link rel="stylesheet" type="text/css" href="../css/style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <script src="../controllers/testcrudController.js"></script>
    
</head>


<body>

<div  ng-controller="myCtrl" class="center">

    
     <form name="myform">

             <input type="text" name = "title" placeholder="title" ng-model = "title" required>
                   <span ng-show = "myform.title.$touched && myform.title.$invalid" style="color: red"> title is Required</span><br><br>
                   

            
             <input type="text" name = "url" placeholder="url" ng-model = "url" required>
                   <span ng-show = "myform.url.$touched && myform.url.$invalid" style="color: red"> url is Required</span><br>

                   <p id = "pwdMessage" style="color: red ; display: none;">
                    Require one uppercase one digit and one special character
                   </p> <br>

             <button ng-click = "postData()"> Insert </button>    
             <button ng-click = "getData()"> Refresh Data </button> <br><br>

             <button id="confirm" ng-click = "confirmUpdate()" style="display: none;"> Update </button> <br>

             <button  id = "cancel" ng-click = "cancel()" style="display: none;"> cancel </button> <br>

             <p id = "message" style=" display: none;"></p> <br>

            <input type="checkbox" name="" ng-model = "checked"> show Database <br><br>
             

        <table ng-show = "checked">
            <tr>
                <th>Sr.no</th><th>Username</th><th>Password</th>
            </tr>

            <tr ng-repeat = "x in data">
             <td>{{ $index + 1 }}</td>
             <td>{{x.title}}</td>
             <td>{{x.url}}</td>
             <td><button ng-click = "updateData($index)"> Update </button></td>
             <td><button ng-click = "deleteData($index)"> Delete </button></td>

            </tr>
        </table>

        <p id="array"></p>


    </form>

</div>





</body>
</html>
